<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">

        <% if lost_object.images.empty? %>
          <%= image_tag asset_path "original/missing.jpg" %>
        <% else %>
          <%= image_tag lost_object.images.first.image.url %>
        <% end %>

	<p><%= lost_object.name %></p>
	<%= link_to "Ver detalles", lost_object_path(lost_object), :class => ["btn", "btn-default", "add-to-cart"] %>
      </div>
      <div class="product-overlay">
	<div class="overlay-content">

	  <p><%= lost_object.name %></p>
	  <%= link_to "Ver detalles", lost_object_path(lost_object), :class => ["btn", "btn-default", "add-to-cart"] %>
	</div>
      </div>
    </div>
  </div>
</div>
