<% content_for :title do %>
  Objetos perdidos
<% end %>

<section>
  <div class="container">	
    <div class="row">
      <div class="col-sm-3">
	<div class="left-sidebar">
          <h2>Búsqueda avanzada</h2>

          <%= form_tag(lost_objects_path, :method => "get",
                       id: "advanced-search-form") do %>
            
            <h6>¿Dónde lo perdiste?</h6>
            <ul id="selected-locations">
            </ul>
            <%= select_tag nil,
            options_for_select(
                [['Seleccionar ubicación', '']] +
                Location.roots.map { |l| [l.name, l.id] },
                ''
            ),
            class: ["form-control", "location-selector"] %>
            <%= hidden_field_tag :location_id, 0,
            id: "lost_object_location_id" %>

            
            <h6>Categoría</h6>
            <div class="checkbox">
              <%= check_box_tag nil, '', false,
              {"class" => "checkbox-using",
               "data-target" => "actable_type"} %>
              <%= select_tag :actable_type,
              options_for_select(LostObject.types, :other),
                  class: ["form-control", "type-selector"],
                      disabled: true %>
            </div>

            <div class="specific-input" data-type="phone">
              <%= fields_for 'phone' do |phone_form| %>
                <h6>Marca</h6>
                <%= toggleable_tag "phone_brand", 
                (phone_form.text_field :brand,
                 placeholder: "Marca", class: "form-control") %>
                
                <h6>Modelo</h6>
                <%= toggleable_tag "phone_model",
                (phone_form.text_field :model,
                      placeholder: "Modelo", class: "form-control") %>
                
                <h6>Compañía telefónica:</h6>
                <%= toggleable_tag "phone_company",
                (phone_form.text_field :company,
                 placeholder: "Compañía telefónica", class: "form-control") %>

                <%= toggleable_tag "phone_case",
                (content_tag :div, class: "checkbox" do
                   phone_form.label :case,
                   (phone_form.check_box :case) + "¿Tiene funda?"
                 end
                ) %>

                <%= toggleable_tag "phone_cracked_screen",
                (content_tag :div, class: "checkbox" do
                   phone_form.label :cracked_screen,
                 (phone_form.check_box :cracked_screen) +
                 "¿Tiene la pantalla rota?"
                 end
                ) %>
                
              <% end %>
            </div>

            <div class="specific-input" data-type="laptop">
              <%= fields_for 'laptop' do |laptop_form| %>
                <h6>Marca</h6>
                <%= toggleable_tag "laptop_brand", 
                (laptop_form.text_field :brand,
                 placeholder: "Marca", class: "form-control") %>
                <h6>Modelo</h6>
                <%= toggleable_tag "laptop_model", 
                (laptop_form.text_field :model,
                 placeholder: "Modelo", class: "form-control") %>
              <% end %>
            </div>

            <div class="specific-input" data-type="backpack">
              <%= fields_for 'backpack' do |backpack_form| %>
                <h6>Marca</h6>
                <%= toggleable_tag "backpack_brand", 
                (backpack_form.text_field :brand,
                 placeholder: "Marca", class: "form-control") %>
                <h6>Tamaño</h6>
                <%= toggleable_tag "backpack_size", 
                (backpack_form.text_field :size,
                 placeholder: "Tamaño", class: "form-control") %>
              <% end %>
            </div>

            <div class="specific-input" data-type="notebook">
              <%= fields_for 'notebook' do |notebook_form| %>
                <h6>Tipo</h6>
                <%= toggleable_tag "notebook_type", 
                (notebook_form.text_field :type,
                 placeholder: "Tipo", class: "form-control") %>
                <h6>Tamaño</h6>
                <%= toggleable_tag "notebook_size", 
                (notebook_form.text_field :size,
                 placeholder: "Tamaño", class: "form-control") %>
              <% end %>
            </div>

            <div class="specific-input" data-type="glasses">
              <%= fields_for 'glasses' do |glasses_form| %>
                <h6>Marca</h6>
                <%= toggleable_tag "glasses_brand", 
                (glasses_form.text_field :brand,
                 placeholder: "Marca", class: "form-control") %>

                <%= toggleable_tag "glasses_sunglasses",
                (content_tag :div, class: "checkbox" do
                 glasses_form.label :sunglasses,
                 (glasses_form.check_box :sunglasses) +
                 "¿Son lentes de sol?"
                 end
                ) %>
              <% end %>
            </div>
            
          <% end %>
          
        </div>
      </div>

      
      <div class="col-sm-9 padding-right">
	<div class="features_items"><!--features_items-->
	  <h2 class="title text-center">Objetos</h2>
          <div id="lost_objects">
            <%= render 'search_response' %>
          </div>
	</div>
      </div>
    </div>
  </div>
</section>
