<% content_for :title do %>
  ¡Encontré algo!
<% end %>

<!-- Aun no estamos listos -->
<% if false %>
<!--
  <%= f.label :actable_type, "Tipo" %>
  <%= f.select :actable_type,
  options_for_select(LostObject.types, :other) %>
  </br>

  <h3>Campos específicos por tipo. Deben ocultarse según 'Tipo' usando JavaScript</h3>

  <p>phone</p>
  <%= f.label :brand, "Marca" %>
  <%= f.text_field :brand %>
  </br>
  
  <%= f.label :model, "Modelo" %>
  <%= f.text_field :model %>
  </br>
  
  <%= f.label :company, "Compañía telefónica" %>
  <%= f.text_field :company %>
  </br>

  <%= f.label :case, "¿Tiene funda?" %>
  <%= f.check_box :case %>
  </br>

  <%= f.label :cracked_screen, "¿Tiene la pantalla rota?" %>
  <%= f.check_box :cracked_screen %>
  </br>
  
  -->
<% end %>


<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="new-product-form">
          <h2>Agregar un objeto</h2>
          
          <%= form_for @lost_object do |f| %>
            <%= render 'shared/errors', object: @lost_object %>

            <h6>Nombre</h6>
            <%= f.text_field :name, :placeholder => "Nombre",
            class: "form-control"  %>

            <h6>Ubicación</h6>
            <%= f.select :location_id,
            options_for_select(Location.all.map { |l| [l.name, l.id] }),
            class: "form-control" %>
  
            <h6>Descripción</h6>
            <%= f.text_area :description,
            class: "form-control", rows: "3" %>

            <h6>Imagen</h6>
            <%= f.file_field :image %>
  
            <%= content_tag :button, :type => :submit,
            :class => ["btn", "btn-default"] do%>
              Enviar
            <% end %>
          <% end %>
          
        </div>
      </div>
      
    </div>
  </div>
</section>
