<% content_for :title do %>
  ¡Encontré algo!
<% end %>

<!-- Aun no estamos listos -->
<% if false %>
<!--
  <%= f.label :actable_type, "Tipo" %>
  <%= f.select :actable_type,
  options_for_select(LostObject.types, :other) %>
  </br>

  <h3>Campos específicos por tipo. Deben ocultarse según 'Tipo' usando JavaScript</h3>

  <p>phone</p>
  <%= f.label :brand, "Marca" %>
  <%= f.text_field :brand %>
  </br>
  
  <%= f.label :model, "Modelo" %>
  <%= f.text_field :model %>
  </br>
  
  <%= f.label :company, "Compañía telefónica" %>
  <%= f.text_field :company %>
  </br>

  <%= f.label :case, "¿Tiene funda?" %>
  <%= f.check_box :case %>
  </br>

  <%= f.label :cracked_screen, "¿Tiene la pantalla rota?" %>
  <%= f.check_box :cracked_screen %>
  </br>
  
  -->
<% end %>


<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="new-product-form">
        <div class="col-sm-4 col-sm-offset-1">
          <h2>Agregar un objeto</h2>
          
          <%= form_for @lost_object do |f| %>
            <%= render 'shared/errors', object: @lost_object %>

            <h6>Nombre</h6>
            <%= f.text_field :name, :placeholder => "Nombre",
            class: "form-control"  %>

            <h6>Ubicación</h6>
            <ul id="selected-locations">
            </ul>
            <%= select_tag nil,
            options_for_select(
                [['Seleccionar ubicación', '']] +
                Location.roots.map { |l| [l.name, l.id] },
                ''
            ),
            class: ["form-control", "location-selector"] %>
            <%= f.hidden_field :location_id, id: "lost_object_location_id" %>
            
            <h6>Descripción</h6>
            <%= f.text_area :description,
            class: "form-control", rows: "3" %>
  
            <%= content_tag :button, :type => :submit,
            :class => ["btn", "btn-default"] do%>
              Enviar
            <% end %>
          
        </div>

        <div class="col-sm-6">
          <div class="row"
            <h6>Imágenes</h6>
            <p>(Puedes agregar hasta <%= @lost_object.images.size %> imágenes)</p>
            <% @lost_object.images.each_with_index do |image, index| %>
              <%= f.fields_for :images, image do |images_form| %>
                <div class="col-sm-6">
                  <img width="100px" height="100px"
                       src="<%= asset_path 'thumb/missing.jpg' %>"
                       id="image-preview-<%= index %>" />
                  <%= images_form.file_field :image, class: "previewable",
                      previewer: ("image-preview-" + index.to_s) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
