<% content_for :title do %>
  <%= @lost_object.name %>
<% end %>

<h2><p><%= @lost_object.name %></p></h2>
<p><%= @lost_object.description %></p>
<p>
  <strong>Encontrado en:</strong>
  <%= @lost_object.location.name if @lost_object.location %>
</p>
<p>Enviado por <%= @lost_object.user.name %></p>
<%= link_to image_tag(@lost_object.image.url(:original)),
@lost_object.image.url, target: '_blank' %>

<% if @lost_object.authorized? current_user %>
<p><%= link_to 'Eliminar', @lost_object, method: :delete,
   data: { confirm: '¿Seguro?' } %></p>
<% end %>
