<% content_for :title do %>
  <%= @lost_object.name %>
<% end %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">

            <% if @lost_object.images.empty? %>
              <div class="view-product">
                <%= image_tag asset_path "original/missing.jpg" %>
              </div>
            <% else %>
              <div id="images" class="carousel slide" data-ride="carousel">
                <div class="view-product">

                  <div class="carousel-inner" role="listbox">
                    <% @lost_object.images.each_with_index do |i, n| %>
                      <div class="item<%= " active" if n==0 %>">
                        <%= image_tag(i.image.url(:original)) %>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div>
                  <div>
                    <% @lost_object.images.each_with_index do |i, n| %>
                      <a data-target="#images" data-slide-to="<%= n %>"
                         class="<%= "active" if n==0 %>">
                        <%= image_tag(i.image.url(:thumb)) %>
                      </a>
                    <% end %>
                  </div>
                  
                  <a class="left item-control" href="#images"
                     role="button" data-slide="prev">
		    <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="right item-control" href="#images"
                     role="button" data-slide="next">
		    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </div>

            <% end %>
            
          </div>

          
          <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
              <h2><p><%= @lost_object.name %></p></h2>
              <span>
                <p>
                  <strong>Encontrado en:</strong>
                  <%= @lost_object.location.name if @lost_object.location %>
                </p>
                <p><strong>Enviado por:</strong> <%= @lost_object.user.name %></p>
                <p><%= @lost_object.description %></p>

                <p><strong>Categoría:</strong> <%= @lost_object.actable_type %></p>

                <% case @specific %>
                <% when Phone %>
                  <p><strong>Marca:</strong> <%= @specific.brand %></p>
                  <p><strong>Modelo:</strong> <%= @specific.model %></p>
                  <p><strong>Compañía telefónica:</strong> <%= @specific.company %></p>
                  <p><strong>¿Tiene funda?</strong>
                    <%= @specific.case ? "Sí" : "No" %></p>
                  <p><strong>¿Tiene la pantalla rota?</strong>
                    <%= @specific.cracked_screen ? "Sí" : "No" %></p>

                <% when Laptop %>
                  <p><strong>Marca:</strong> <%= @specific.brand %></p>
                  <p><strong>Modelo:</strong> <%= @specific.model %></p>

                <% when Backpack %>
                  <p><strong>Marca:</strong> <%= @specific.brand %></p>
                  <p><strong>Tamaño:</strong> <%= @specific.size %></p>

                <% when Notebook %>
                  <p><strong>Tipo:</strong> <%= @specific.type %></p>
                  <p><strong>Tamaño:</strong> <%= @specific.size %></p>

                <% when Glasses %>
                  <p><strong>Marca:</strong> <%= @specific.brand %></p>
                  <p><strong>¿Son lentes de sol?</strong>
                    <%= @specific.sunglasses ? "Sí" : "No" %></p>
                  
                <% end %>
                
                <br/>
                <% if !@lost_object.user.blocked&!@lost_object.state&!(@lost_object.user == current_user) %>
                  <%= form_for @ticket do |f| %>
                    <input name="lost_object_id" type="hidden" value=<%= @lost_object.id %> />
                    <%= content_tag :button, :type => :submit, :class => ["btn", "btn-fefault cart"] do%>
                    Contactar!
                    <% end %>  
                  <% end %> 
                <% end %>
                <% if @lost_object.state %>
                  Este objeto ha sido recuperado por su dueño :)
                <% end %>
                <% if @lost_object.user.blocked %>
                  Lo sentimos, pero el usuario que encontró este objeto ha sido bloqueado por conducta agresiva.
                <% end %>

                <% if @lost_object.authorized? current_user %>
                  <p><%= link_to 'Eliminar', @lost_object, method: :delete %></p>
                <% end %>
              </span>
            </div><!--/product-information-->
          </div>
        </div><!--/product-details-->
        
        
        
      </div>
    </div>
  </div>
</section>
