<% content_for :title do %>
  @user.name
<% end %>

<h1>Editar perfil</h1>

<%= form_for @user, url: user_path, method: :patch do |f| %>

  <%# shared/errors muestra los errores encontrados en un
  # objeto dado, en este caso @user %>
  <%= render 'shared/errors', object: @user %>
  
  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name %>
  </br>
  
  <%= f.label :email, "Correo electrónico" %>
  <%= f.label :email, @user.email %>
  </br>

  <%= f.label :gender, "Género" %>
  <%= f.text_field :gender %>
  </br>

  <%= f.label :age, "Edad" %>
  <%= f.number_field :age, :min => 0, :step => 1 %>
  </br>
  
  <%= f.submit "Actualizar" %>
  
<% end %>

<h2>Cambiar contraseña</h2>

<%= form_for @user, url: update_password_path, method: :patch do |f| %>

  <%= f.label :current_password, "Contraseña actual" %>
  <%= f.password_field :current_password %>
  </br>

  <%= f.label :password, "Nueva contraseña" %>
  <%= f.password_field :password %>
  </br>
  
  <%= f.label :password_confirmation, "Confirma tu contraseña" %>
  <%= f.password_field :password_confirmation %>
  </br>

  <%= f.submit "Cambiar contraseña" %>
  </br>
  
<% end %>
