<% content_for :title do %>
  <%= @user.name %>
<% end %>

<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <h2><%= @user.name %></h2>

        <p>
          <strong>Correo electrónico:</strong>
          <%= @user.email %>
        </p>

        <p>
          <strong>Género:</strong>
          <%= (@user.gender && !@user.gender.empty?) ? @user.gender : "No disponible" %>
        </p>

        <p>
          <strong>Edad:</strong>
          <%= @user.age || "No disponible" %>
        </p>
        
        <p><%= link_to 'Editar perfil', edit_user_path %></p>

        <div class="fullview">
          <% if @user.lost_objects %>
            <h2>Objetos encontrados</h2>
            <%= render @user.lost_objects.includes(:images) %>
          <% end %>
        </div>

        <div class="fullview">
          <h2>Tickets</h2>
          
          <%= render @user.all_tickets %>
        </div>
        
      </div>
    </div>
  </div>
</section>
