<div class="shop-menu pull-right">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to new_lost_object_path do %>
        <i class="fa fa-crosshairs"></i> ¿Encontraste algo?
      <% end %>
    </li>
    <% if current_user %>
      <li>
        <%= link_to profile_path do %>
          <i class="fa fa-user"></i><%= current_user.name %>
        <% end %>
      </li>
      <li>
        <% if current_user.has_notif? %>
        <a href="/tickets" style="color: #FFA500">
          <i class="fa fa-exclamation-circle"></i>
          <i class="fa fa-ticket"></i>
        </a>
        <% else %>
        <a href="/tickets">
          <i class="fa fa-ticket"></i>
        </a>
        <% end %>
      </li>
      <li>
        <%= link_to sign_out_path, method: :delete do %>
          Cerrar sesión
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to sign_in_path, class: "active" do %>
          <i class="fa fa-lock"></i> Iniciar Sesión
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
