<% content_for :title do %>
  Iniciar Sesión
<% end %>

<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form"><!--login form-->
          <h2>Inicia sesión</h2>
          <%= form_for (user_session ||= UserSession.new), :url => :sign_in do |f| %>
            <%# shared/errors muestra los errores encontrados en un
            # objeto dado, en este caso user_session %>
            <%= render 'shared/errors', object: user_session %>
            <%= f.email_field :email, :placeholder => "Correo Electrónico" %>
            <%= f.password_field :password, :placeholder => "Contraseña", class: "checkbox" %>

            <span>
              <%= f.check_box :remember_me  %>
              Recordarme
            </span>
            
            <%= content_tag :button, :type => :submit, :class => ["btn", "btn-default"] do%>
              Iniciar sesión
            <% end %>
          <% end %>
        </div><!--/login form-->
      </div>
      
      <div class="col-sm-1">
        <h2 class="or">O</h2>
      </div>
      
      <div class="col-sm-4">
        <div class="signup-form"><!--sign up form-->
          <h2>Registrate</h2>

          <%= form_for (user ||= User.new), :url => :register do |f| %>
            <%# shared/errors muestra los errores encontrados en un
            # objeto dado, en este caso user %>
            <%= render 'shared/errors', object: user %>
            
            <%= f.text_field :name, :placeholder => "Nombre" %>
            <%= f.email_field :email, :placeholder => "Correo Electrónico" %>
            <%= f.password_field :password, :placeholder => "Contraseña" %>         
            <%= f.password_field :password_confirmation, :placeholder => "Confirma tu contraseña"  %>

            <%= content_tag :button, :type => :submit, :class => ["btn", "btn-default"] do%>
              Registrar
            <% end %>
          <% end %>

          
        </div><!--/sign up form-->
      </div>
    </div>
  </div>
</section><!--/form-->
