<% content_for :title do %>
  Ticket #<%= @ticket.IDPrettyFormat %>
<% end %>

<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
      	<h1 style="text-align: center">Tickets</h1>
        <div class="ticket_mess">
        	<div style="width: 45%">
        	  <%= render @user.all_tickets %>
                  
        	</div>
        	<div style="width: 55%">
                <% if @ticket.replies %>
                  <%= render @ticket.replies %>
                <% end %>
                <% if @ticket.status || @user.is_mod? %>
                  Responder:
                  <%= form_for @reply do |f| %>
                    <input name="ticket_id" type="hidden" value=<%= @ticket.id %> />
                    <%= f.text_area :message, class: "form-control", rows: "3" %>
                    <%= content_tag :button, :type => :submit, :class => ["btn", "btn-default"] do%>
                    Enviar
                    <% end %>  
                  <% end %> 
                  <div id="clo_Ti">
                    <a class="btn btn-default"  onclick="closeTicket();">Cerrar Ticket</a>
                  </div>
                  <div id="clo_TiCon">
                    <%= form_for @reply, method: :patch do |f| %>
                      <input name="ticket_id" type="hidden" value=<%= @ticket.id %> />
                      <% if current_user == @ticket.lost_object.user %>
                        ¿Encontraste al dueño?
                        <input name="lost_object_ow" type="hidden" value="0" />
                        <input type="checkbox" name="lost_object_ow" value="1">
                      <% else %>
                        <input name="lost_object_ow" type="hidden" value="0">
                      <% end %>
                      <%= content_tag :button, :type => :submit, :class => ["btn", "btn-default"] do%>
                        Cerrar Ticket
                      <% end %>   
                    <% end %>
                  </div>
                <% end %> 
        	</div>
        </div>
      </div>
    </div>
  </div>
</section>
