<% content_for :title do %>
  Ticket #<%= @ticket.IDPrettyFormat %>
<% end %>

<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
      	<h1 style="text-align: center">Tickets</h1>
        <div class="ticket_mess">
        	<div style="width: 45%">
            <% if @user.is_mod? %>
              <div>
                Información del Ticket <br>
                ID: <%= @ticket.id %> <br>
                Abierto?: <%= @ticket.status %> <br>
                 Objeto Perdido: <%= @ticket.lost_object.name %> <br>
                 ID: <%= @ticket.lost_object.id %> <br>
                Encontrado por: <%= @ticket.lost_object.user.name %> <br>
                Correo Electrónico: <%= @ticket.lost_object.user.email %> <br>
                Posible Dueño: <%= @ticket.user.name %> <br>
                Correo Electrónico: <%= @ticket.user.email %> <br>
              </div>
            <% end %>
        		<% @user.lost_objects.each do |lo| %>
              <%= render lo.tickets %>
            <% end %>

            <% if @user.tickets %>
              <%= render @user.tickets %>
            <% end %>
        	  <%= render @user.all_tickets %>
        	</div>
        	<div style="width: 55%">
                <% if @ticket.replies %>
                  <%= render @ticket.replies %>
                <% end %>
                <% if @ticket.status || @user.is_mod? %>
                  Responder:
                  <%= form_for @reply do |f| %>
                    <input name="ticket_id" type="hidden" value=<%= @ticket.id %> />
                    <%= f.text_area :message, class: "form-control", rows: "3" %>
                    <%= content_tag :button, :type => :submit, :class => ["btn", "btn-default"] do%>
                    Enviar
                    <% end %>  
                  <% end %> 
                  <div id="clo_Ti">
                    <a class="btn btn-default"  onclick="closeTicket();">Cerrar Ticket</a>
                  </div>
                  <div id="clo_TiCon">
                    <%= form_for @reply, method: :patch do |f| %>
                      <input name="ticket_id" type="hidden" value=<%= @ticket.id %> />
                      <% if current_user == @ticket.lost_object.user %>
                        ¿Encontraste al dueño?
                        <input name="lost_object_ow" type="hidden" value="0" />
                        <input type="checkbox" name="lost_object_ow" value="1">
                      <% else %>
                        ¿Estas seguro?
                        <input name="lost_object_ow" type="hidden" value="0">
                      <% end %>
                      <%= content_tag :button, :type => :submit, :class => ["btn", "btn-default"] do%>
                        Cerrar Ticket
                      <% end %>   
                    <% end %>
                  </div>
                <% end %>
                <div id="req_Mod">
                  <a class="btn btn-default"  onclick="callMod();">Llamar a un moderador</a>
                </div>
                <div id="req_ModCon">
                  <%= form_for @report do |f| %>
                    <input name="ticket_id" type="hidden" value=<%= @ticket.id %> />
                    <input name="user_id" type="hidden" value=<%= current_user.id %> />
                    <p>¿Cuál es el problema?</p>
                    <p>
                    <input type="radio" name="case" value="1" checked>
                    El Ticket se cerró accidentalmente.
                    </p>
                    <p>
                    <input type="radio" name="case" value="2">
                    Conducta agresiva.
                    </p>
                    <p>
                    <input type="radio" name="case" value="3">
                    Falta de compromiso.
                      <small>
                        (El usuario no asiste a los encuentros/Pretende cobrar recompensa)
                      </small>
                    </p>
                    <p>
                    <input type="radio" name="case" value="4">
                    Otro.
                    Describe el problema:
                    <textarea rows="3" name="message">
                    </textarea>
                    </p>
                    <%= content_tag :button, :type => :submit, :class => ["btn", "btn-default"] do%>
                      Llamar a un moderador
                    <% end %>   
                  <% end %>
                </div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</section>
