<h1>Inicio de sesi칩n</h1>

<%= form_for @user_session do |f| %>

  <%# shared/errors muestra los errores encontrados en un
    # objeto dado, en este caso @user_session %>
  <%= render 'shared/errors', object: @user_session %>
  
  <%= f.label :email, "Correo Electr칩nico" %>
  <%= f.email_field :email %>
  </br>

  <%= f.label :password, "Contrase침a" %>
  <%= f.password_field :password %>
  </br>

  <%= f.submit "Iniciar sesi칩n" %>

<% end %>
