<!DOCTYPE html>
<html>
<head>
  <title>LostANDFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
  <% if current_user %>
    <li><%= current_user.name %></li>
    <li><%= link_to 'Salir', sign_out_path, method: :delete %></li>
    <li><%= link_to 'Dar de alta objeto', new_lost_object_path %></li>
  <% else %>
    <li><%= link_to 'Registro', new_user_path %></li>
    <li><%= link_to 'Entrar', sign_in_path %></li>
  <% end %>
  <li><%= link_to 'Objetos', lost_objects_path %></li>
  </ul>

<%= yield %>

</body>
</html>
