<%# Este layout se usa para toda la aplicación, se divide en varias
partes:
- Un encabezado con una barra de búsqueda y enlaces para manejo de sesión
- Un pie de página con enlaces a otras partes de la aplicación
- Una barra lateral con enlaces para agregar objetos a la que se le
puede agregar contenido.
- El cuerpo de la página
%>

<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | LostANDFound</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--Stylesheets, dawg! -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track'=> true %>
  <%= stylesheet_link_tag    'font-awesome.min', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'prettyPhoto', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'price-range', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'animate', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'responsive', 'data-turbolinks-track' => true %>
  <!--Scripts, dawg! -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'price-range', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.scrollUp.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.prettyPhoto', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%# los colores y texto sólo son para disinguir cada parte por
  el momento (porque no están acomodadas como deberían) %>
  <div class="header">
    <span><%= render 'shared/header' %></span>
  </div>

  <!--<div class="sidebar">
    <%= render 'shared/sidebar' %>
    <%= yield :sidebar %>
  </div>-->

  <div class="main">
    <%= yield %>
  </div>
  
  <div class ="footer">
    <%= render 'shared/footer' %>
  </div>

</body>
</html>
