<%# Este layout se usa para toda la aplicación, se divide en varias
partes:
- Un encabezado con una barra de búsqueda y enlaces para manejo de sesión
- Un pie de página con enlaces a otras partes de la aplicación
- Una barra lateral con enlaces para agregar objetos a la que se le
puede agregar contenido.
- El cuerpo de la página
%>

<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= yield :title %> | LostANDFound</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render 'shared/header' %>
    
    <%= yield %>
    
    <%= render 'shared/footer' %>

  </body>
</html>
