<%# Este es el layout que se utiliza para la ventana inicial
de la aplicación, que va a ser distinto de todas las demás %>
<!DOCTYPE html>
<html lang="es">
<head>
  <title>LostANDFound</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>
</body>

</html>
